/* Mobile Styles */

/* Reserve Overlay */
.reserve {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.418);
  z-index: 9999;
}

/* Reserve Container */
.rContainer {
  background-color: white;
  padding: 20px;
  position: relative;
  max-width: 90%;
  width: 400px;
  max-height: 90%;
  overflow-y: auto;
  overflow-x: hidden;
}

/* Close Button */
.rClose {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

/* Reserve Item */
.rItem {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px;
  font-size: 14px;
}

/* Reserve Info */
.rInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* Reserve Title */
.rTitle {
  font-weight: 500;
}

/* Reserve Description */
.rDesc {
  font-weight: 300;
}

/* Reserve Maximum */
.rMax {
  font-size: 10px;
}

/* Reserve Price */
.rPrice {
  font-weight: 500;
}

/* Reserve Room Selection */
.rSelectRooms{
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  font-size: 10px;
  color: gray;
}

/* Room */
.room{
  display: flex;
  flex-direction: column;
}

/* Reserve Button */
.rButton {
  border: none;
  padding: 10px 20px;
  background-color: #0071c2;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
  margin-top: 20px;
}
