
@media only screen and (max-width: 700px) {
.mail {
padding: 20px;
max-width: 50%;
}

.mailInputContainer > input {
width: 100%;
max-width: 50%;
text-align: center;
height: 40px;
padding: 10px;
margin-bottom: 10px;
}
.mailTitle{
    font-size: 25px;
}
.mailDesc{
    font-size: 15px;
}
.mailInputContainer{
    text-align: center;
}

.mailInputContainer > button {
width: 60%;
height: 50px;
font-size: 16px;
}
}


/* Desktop Styles */

.mail {
width:92%;
max-width:1024;
margin-top: 20px;
background-color: #FFF2CC;
color: black;
display: flex;
flex-direction: column;
align-items: center;
gap: 20px;
padding: 50px;
}

.mailInputContainer > input {
width: 300px;
height: 30px;
padding: 10px;
border: none;
margin-right: 10px;
border-radius: 5px;
}

.mailInputContainer > button {
height: 50px;
background-color: #DFA67B;
color: black;
font-weight: 500;
border: none;
border-radius: 5px;
cursor: pointer;
}