/* Container styles */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  width: 400px;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  background-color: #fff;
}

.card h1 {
  text-align: center;
}

/* Form styles */
form {
  margin-bottom: 2rem;
}

form label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

form input[type="text"],
form input[type="email"],
form input[type="password"] {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
}

/* Button styles */
.container button {
  background-color: #007bff;
  border-color: #007bff;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  font-size: 1rem;
  cursor: pointer;
}

.btn{
  display: flex;
  gap: 100px;
  align-items: center;
  justify-content:center;
}

.container button:hover,
.container button:focus {
  background-color: #0069d9;
  border-color: #0062cc;
  color: #fff;
}
