.homeContainer{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.homeTitle{
  width: 1024px;
  font-size: 20px;
}

.HomeOptions{
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.HomeIcon{
  height: 20px;
}

/* Media queries for responsive design */

@media screen and (max-width: 768px) {
  .homeTitle {
    width: 70%;
    font-size: 15px;
  }

  .HomeOptions {
    flex-wrap: wrap;
    width: 50%;
  }

  .HomeIcon {
    height: 14px;
  }
}
