.footer{
  width: 100%;
 
  font-size: 12px;
  justify-content: center;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 20px;
}

.fLists{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 0;
}

.fList{
  list-style: none;
  padding: 0;
}

